@model global::MvcApplication.Models.Invoice

@{
    ViewBag.Title = "Invoice Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>InvoiceDetails</h2>

<div>

    <table class="table">

        <tr>
            <td>
                @Html.DisplayName("Start time")
            </td>
            <td>
                @Html.DisplayName("End time")
            </td>
            <td>
                @Html.DisplayName("Amount")
            </td>
            <td>
                @Html.DisplayName("Price")


            </td>

        </tr>
        @foreach (var item in Model.parkingInfo)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime.TimeOfDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime.TimeOfDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillableAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

            </tr>
        }

    </table>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Total price")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Invoices")
</p>
